$grey-dark:#29363d;
$light-gray:#c2cfd6;
$blue-gray:#33444c;
$blue-gray2:#415a66;
$border-grey:#efefef;
$border-grey2:#e2e2e2;
$blue-light-grey:#738792;
$background-grey:#fafafa;
$footer-grey:#f5f5f5;
$font-grey:#666;
$font-title:#999;
$font-color:#444;
$red:#a60800;
$red2:#e37f7f;
$blue2:#20a8d8;
$blue1:#0275d8;
$blue:#0077dd;
$white:#ffffff; 