@import "./../../../../assets/style/variable.scss";

.gadget-container{
    padding: 0.5rem;
    display: inline-block;// make get 
}
.gadget-title{
    color: white;
    background: $red2;
    width: 100%;
    height: 25px;
}
.gadgetTwo{
    @extend .gadget-container;
    width: 40%;
    height: 200px;

}
.gadgetOne{
    @extend .gadget-container;
    width: 60%;
    height: 200px;
}
.gadgetThree{
    @extend .gadget-container;
    width: 50%;
    height: 150px;
}
.right-close{
    margin-right: 0.5rem;
    cursor: pointer;
    float: right;
}
.gadget-content{
    width: 100%;
    height: 100%;
    border: 2px solid $red;
    box-sizing:  border-box;
}