<div class="row no-gutters resource">
    <div class = "col-9" >
        <div class = "resource-title">
            <div class= "header-title">My Resources and Collections</div>
            <div class="right-icon link-item" (click)="gotoGithub()"><span><i class="fa fa-github"></i></span></div>
            <div class="right-icon link-item" routerLink="/home"><span><i class="fa fa-home"></i></span></div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-9">
        <div class="article-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-3">
        <div class="article-list">
            <div *ngFor ="let article of articles" class="list-item"(click)= "onSelect(article)"
            [ngClass]="{'selected':selectedArticle == article}"
            [routerLink] = "['/resources/article',article.id]"><span >{{article.name}}-------</span></div>
        </div>
    </div>
</div>