<h1>Just a test case</h1>
<h2>test by yili giant Pfizer will end research</h2>
<p>
  article {{articleId}} works!
</p>
<h3>HHHHHHHsd it will continue its support of a late-stage pai</h3>
<p>
    Drug giant Pfizer will end research into new neuroscience drugs, including those for Alzheimer's disease and Parkinson's disease, the company announced this weekend.

That decision followed an internal review and will result in about 300 jobs cut, the company said.

"This was an exercise to reallocate [spending] across our portfolio, to focus on those areas where our pipeline, and our scientific expertise, is strongest," Pfizer said in a statement.

Pfizer said it will continue its support of a late-stage pain treatment drug, tanezumab, and Lyrica, a drug for fibromyalgia.

It will also continue research into neurological drugs for rare diseases.

Pfizer also said it will start a venture fund committed to neuroscience.

The company had invested heavily in discovering new drugs for Alzheimer's and Parkinson's, but those efforts were costly and didn't produce results.

</p>