<h1>Angular5: Responsive Chart by D3-V4 </h1>
<p>Now I will show how to dram a responsive chart by d3-v4 under angular5.</p>
<h2>1. draw a simple chart</h2>
<p>First,prepare a div as chart container</p>

<h3>d3-chart.component.html</h3>
<pre class="language-markup">
<code class="language-markup" highlightCode >&lt;div #chart1 class = "drawChart"&gt; &lt;/div&gt;
</code></pre>

<h3>d3-chart.component.ts</h3>
<pre class="language-typescript">
<code class="language-typescript" highlightCode >import &#123; Component, OnInit, ViewChild, ElementRef &#125; from '@angular/core';
import * as d3 from 'd3';

    @ViewChild('chart1') private chartContainer1:ElementRef;
    xScale:any;
    yScale:any;
    svg1:any;
    chart1:any;
    xAxis1:any;
    yAxis1:any;
    width:number = 800;
    height:number = 400;
    marginTop:number = 50;
    marginLeft:number = 50;
    marginBottom:number = 50;
    marginRight:number = 50;
    data = [
            [10,10],
            [20,15],
            [40,20]
    ];
    chartWidth = this.width-this.marginLeft - this.marginRight;
    chartHeight = this.height - this.marginTop - this.marginBottom;
    ngOnInit() &#123;
        this.initChart();
        this.setScale();
        this.drawChart();
    &#125;
    initChart()&#123;
        let element = this.chartContainer1.nativeElement;
        this.svg1 = d3.select(element).append('svg')
            .attr('width',this.width)
            .attr('height',this.height)

        this.chart1 = this.setChart(this.svg1)
        this.xAxis1 = this.setAxisX(this.svg1)
        this.yAxis1 = this.setAxisY(this.svg1)
    &#125;
    setChart(svg:any)&#123;
        return svg.append('g')
            .attr('class','chart1')
            .attr('width',this.width -this.marginLeft - this.marginRight)
            .attr('height',this.height - this.marginTop - this.marginBottom)
    &#125;
    setAxisX(svg:any)&#123;
        return svg.append('g')
            .attr('class','axis axis-x')
            .attr('transform',`translate($&#123;this.marginLeft&#125;,$&#123;this.height-this.marginBottom&#125;)`);
    &#125;
    setAxisY(svg:any)&#123;
        return svg.append('g')
            .attr('class','axis axis-y')
            .attr('transform',`translate($&#123;this.marginLeft&#125;,$&#123;this.marginTop&#125;)`)
    &#125;
    setScale()&#123;
        let xDomain = this.data.map(d => d[0]);
        let yMax = d3.max(this.data,d=> d[1]);
        this.xScale = d3.scaleBand().padding(1).domain(xDomain).rangeRound([0,this.chartWidth]);
        this.yScale = d3.scaleLinear().domain([0,yMax]).range([this.chartHeight,0]);
    &#125;
    drawChart()&#123;
        let barWidth = 10;
        this.xAxis1.transition().call(d3.axisBottom(this.xScale));
        this.yAxis1.transition().call(d3.axisLeft(this.yScale));
        let update = this.chart1.selectAll('.chart1').data(this.data);
        update.enter().append('rect')
            .attr('class','bar')
            .attr('x',d => this.marginLeft + this.xScale(d[0])-barWidth/2)
            .attr('y',d => this.marginBottom + this.yScale(d[1]))
            .attr('width',barWidth)
            .attr('height',d => this.chartHeight - this.yScale(d[1]))
            .style('fill','#e37f7f')
    &#125;</code></pre>

<div class = "drawChart" #chart1></div>
<h2>2. make chart responsive</h2>

<h3>d3-chart.component.scss</h3>
<pre class="language-scss">
<code class="language-scss" highlightCode>.svg-container&#123;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;//400:800 = 50%;
    vertical-align: top;
    overflow: hidden;
&#125;
.svg-content-responsive&#123;
    display: inline-block;
    position: absolute;
    left:0;
    top:0;
&#125;
</code></pre>

<h3>d3-chart.component.ts</h3>
<pre><code class="language-typescript" highlightCode >this.svg2 = d3.select(element)
    .append('div')
    .classed('svg-container',true)
    .append('svg')
    .attr('preserveAspectRatio','xMinYMin meet')
    .attr('viewBox','0 0 800 400')
    .classed('svg-content-responsive',true)
</code></pre>

<div class = "drawChart" #chart2></div>
<p>Now you can zoom your browser, and you will find the second chart resize when the browser size changes, however the first chart remains same</p>
<h2>3. dynamic update chart with transition effect when data changes</h2>

<h3>d3-chart.component.html</h3>
<pre><code class="language-markup" highlightCode >&lt;button type="button" (click)="updateData()"&gt;Refresh&lt;/button&gt;
</code></pre>

<h3>d3-chart.component.ts</h3>
<pre><code  class="language-typescript" highlightCode >refresh: boolean = false;
updateData()&#123;
	let data2 = [
	[10,50],
	[20,15],
	[30,35],
	[40,10],
	[50,40]
	]
	this.refresh = !this.refresh;
	if(this.refresh)&#123;
	this.setScale(data2);
	this.drawChart3(data2);
	&#125;else&#123;
	this.setScale(this.data);
	this.drawChart3(this.data);
	&#125;
&#125;
drawChart3(data)&#123;
	let barWidth = 20;
	this.xAxis3.transition().call(d3.axisBottom(this.xScale));
	this.yAxis3.transition().call(d3.axisLeft(this.yScale));
	let update = this.chart3.selectAll('.bar').data(data);
	update.exit().remove();//remove old;
	this.chart3.selectAll('.bar')//update exist
	.attr('x',d => this.marginLeft + this.xScale(d[0])-barWidth/2)
	.attr('y',this.chartHeight + this.marginTop)// the y position of xAxis
	.attr('width',barWidth)
	.attr('height',0)
	.style('fill','#87CEFA')//blue
	.transition()
	.duration(2000)
	.attr('y',d => this.marginTop + this.yScale(d[1]))
	.attr('height',d => this.chartHeight - this.yScale(d[1]))
	.style('fill','#7CCD7C')//green

	update.enter().append('rect')//add new
	.attr('class','bar')
	.attr('x',d => this.marginLeft + this.xScale(d[0])-barWidth/2)
	.attr('y',this.chartHeight + this.marginTop)// the y position of xAxis
	.attr('width',barWidth)
	.attr('height',0)
	.style('fill','#87CEFA')//blue
	.transition()
	.duration(2000)
	.attr('y',d => this.marginTop + this.yScale(d[1]))
	.attr('height',d => this.chartHeight - this.yScale(d[1]))
	.style('fill','#e37f7f')//red
&#125;
</code></pre>
when you click the button, you can see the transition effect with data changes.
<button type="button" (click)="updateData()">Refresh</button>
<div class = "drawChart" #chart3></div>
<h2>4. add text and tooltip for chart</h2>

<h3>d3-chart.component.scss</h3>
<pre><code class="language-scss" highlightCode >div.tooltip&#123;
    min-width: 20px;
    position: absolute;
    padding: 2px 8px;
    background: none repeat scroll 0 0 $grey-dark;
    border-radius: 3px;
    pointer-events: none;
    color: $white;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
    display: block;
    font-size: 0.8rem;
    white-space: pre-line;
&#125;
div.tooltip::after&#123;
    position: absolute;
    bottom: auto;
    border-color: $grey-dark transparent transparent transparent ;
    content: '';
    display: block;
    border-style: solid;
    border-width: 4px;
    top:23px;
    left:20px;
&#125;
</code></pre>
<h3>d3-chart.component.ts</h3>
<pre><code class="language-typescript" highlightCode>drawChart4(data)&#123;
	let barWidth = 50;
	this.xAxis4.transition().call(d3.axisBottom(this.xScale));
	this.yAxis4.transition().call(d3.axisLeft(this.yScale));
	let update = this.chart4.selectAll('g').data(data);
	let toolTip = d3.select('body').append('div')
		.attr('class','tooltip')
		.style('opacity',0);
	update.enter().append('rect')
		.attr('class','bar')
		.attr('x',d => this.marginLeft + this.xScale(d[0])-barWidth/2)
		.attr('y',d => this.marginTop + this.yScale(d[1]))
		.attr('width',barWidth)
		.attr('height',d => this.chartHeight - this.yScale(d[1]))
		.style('fill','#e37f7f')
		.on('mouseover',function(d)&#123;
			toolTip.transition()
			.style('opacity',1);//show tooltip
			toolTip.html('d3-chart: '+d[1])// tooltip content
			.style('left',(d3.event.pageX)+'px')
			.style('top',(d3.event.pageY)+'px');
			d3.select(this).style('cursor','pointer');

		&#125;)
		.on('mouseout',function(d)&#123;
			toolTip.transition()
			.style('opacity',0);//hide tooltip
			&#125;);

	let textHeight = 10;
	update.enter().append('text')
		.attr('class','tt')
		.attr('x',d => this.marginLeft + this.xScale(d[0]))
		.attr('y',d => this.marginTop + this.yScale(d[1]) - textHeight)
		.attr('text-anchor','middle')
		.style('fill','#444')
		.text(d => d[1]);
&#125;
</code></pre>
<div class = "drawChart" #chart4></div>
<p>when you move your mouse over the rect, the tooltip shows, and when you moveout, tooltip hides</p>