/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "./assets/style/variable.scss";

html, body{
    margin:0; width:100%; height:100%; 
    font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif !important;
    color: $font-grey !important;
}
h1{
    font-size: 1.4rem !important;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0 !important;
    color: $red2 !important;
}
h1:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 24px 0 10px;
    background: #dbdbdb;
    clear: both;
}
h2{
    font-size: 1.2rem !important;
    margin: 1rem 0rem 1rem 0rem !important;
    color: $font-color !important;
}

h3{
    font-size: 1rem !important;
    margin: 1rem 0 0.5rem 0 !important;
    color: $font-title !important;
}
p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}