@import "./../../assets/style/variable.scss";
$imge-size:5rem;
.main-page{
    width: 38rem;
    height: 25rem;
    //border: 1px solid $border-grey2;
    padding: 0.5rem 2rem;
    background: white;
    border-radius: 0.5rem;
    box-sizing:border-box;
}
.background{
    margin: 0;
    width: 100%;
    height: 100%;
    background: $white;
}
.page-title{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.5rem 0;
    justify-content: center;
    color: $font-color;
}
.page-intro{
    justify-content: center;
    color: $font-grey;
    font-weight: 450;
    padding: 0rem 0 1rem 0;
}
.page-img{
    justify-content: center;
    cursor: pointer;
}
.img{
    border-radius: 50%;
    width: $imge-size;
    height: $imge-size;
    padding: 5px;
    border: 1px dashed $font-grey;
}
.icon{
    color: $red;
}
.link-item{
    text-align: center;
    outline: none;
    font-style: italic;
    color: $font-grey;
    cursor: pointer;
}
.link-item:hover{
    color: $red2;
    font-weight: 450;
    transition: color 0.2s ease;
}
