<div class="page-not-fond d-flex justify-content-center align-items-center">
    <div class="warn">
        <div class="row no-gutters">
            <span><i class="fa fa-close warn-alert"></i>{{'page not found' |uppercase}}</span>
        </div>
        <div class="row no-gutters warn-info">
            We searched everywhere but couldn't find the page you were looking for.
        </div>
        <div class="row no-gutters">
            <span>Go Back Home <i class="fa fa-home back-home" routerLink="/home"></i></span>
        </div>
    </div>
</div>

